@charset "UTF-8";

html{
    font-size: 62.5%;
    background-color: rgb(253, 237, 223);
}

.header{
    padding: 0px 30px 0 ;
    color:rgb(46, 46, 46);
    text-shadow:4px 4px 5px rgb(255, 255, 255); 
    vertical-align:middle;
    background-position: center;
    background-image: url(../image/hawaii-1945486_1920.jpg);
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.3);

}


.site-title-sub{
    margin: 0;
    letter-spacing: 1px;
    font-size: 2.2rem;
    color: black;
    text-align: left;
    width: 100%;

}
.site-title{
    font-weight: bold;
    font-size: 3.0rem;
    margin: 0;
    text-align: left;
}
.site-title h1{
    margin: 0;
}
.site-description{
    margin:5px 0 10px;
    color: black;
    font-size: 1.6rem;
    text-align: right;
    font-weight: 900;
}
.snsbtniti{
    margin-bottom: 0;
}
.logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    list-style: none;
    float: right;
    transition:transform  0.5s;
}
.logo:hover{
    -webkit-transform:rotate(360deg);
    transform :rotate(360deg);
}
.fab {
    font-size: 3.0rem;
    width: 50px;
    height: 50px;
    color: #000000;
    line-height: 142px;
}

.fa:hover{
    color: rgb(71, 71, 71);
    border-bottom:black 1px solid ;
}
.fab:hover{
    color: rgb(71, 71, 71);
    border-bottom:black 1px solid ;
}
.fa{
    font-size: 3.0rem;
    width: 50px;
    height: 50px;
    color: #000000;
    line-height: 142px;
    
}
.sns{
    float: right;
}
.sns-li{
    display: inline-block;
    list-style-type: none;
    
}

.button{
    display: inline-block;
    width: 70px;
    padding: 10px;
    border-bottom: #000 1px solid;
    color: black;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 1.2rem;
    text-align: center;
}
.button:hover{
    opacity: 0.6;
    color: rgb(68, 68, 68);
    border: rgb(0, 0, 0) 1px solid ;
    
}
.buttons{
    text-align: right;
}

.skills{
    padding: 80px 0;
    color: #333;
    background-image: url(../image/father-1004022_1920.jpg);
    background-size: cover;
    background-position: center;
}
.initial{
    color: rgb(238, 255, 0);
}
.skills-wrapper{
    display: table;
    width: 80%;
    margin: 50px auto 0;
    table-layout: fixed;
}
.skill-box{
    display: table-cell;
    border: solid;
    background-color: rgba(255, 255, 255, 0.3);
    margin-right: 5px;
    
}
.skill-icon{
    width: 150px;
    height: 150px;
    margin-bottom: 5px;
    color: #fcef7f;
    font-size: 8rem;
    line-height: 142px;
    text-align: center;
}

.skill-title{
    margin: 0 20px 0px ;
    font-size: 2rem;
    font-weight: 900;
}
.skill-text{
    margin: 0 20px;
    line-height: 2;
    font-size: 1.3rem;
    font-weight: 700;
    color: rgb(0, 0, 0);
}

.star{
    color: yellow;
}
.text-sub{
    margin: 0 20px 20px;
    font-size: 0.9rem;
}
.heading{
    text-align: center;
    font-size: 5rem;
    border-bottom: solid;
    width: 100%;
    margin: 0px;
    margin-top: 10px;
    color: rgb(255, 255, 255);
}
.discription{
    color: rgb(0,0 ,0) ;
}

.discription-title{
    text-shadow: 3px 3px 3px black;
}
.discription-text{
    width: 70%;
    margin: 0 auto;
    font-size: 1.5rem;
}
.footer{
    display: block;
    text-align: center;
}
.footer-button{
    display: inline-block;
    width: 50px;
    padding: 5px;
    border: rgb(0, 0, 0) solid;
    background-color: rgb(128, 128, 128);
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 1.0rem;
    text-align: center;
}
.footer-button:hover{
    background-color: rgb(70, 56, 56);
}

/* _________________________ここからレスポンシブ＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿ */
@media(max-width: 768px){
    html{
        font-size: 62.5%;
    }
    .skill-box{
        display: block;
    }
    .skill-icon{
        display: block;
        text-align: center;
    }
    .skill-title{
        text-align: center;
        color: rgb(252, 236, 212);

    }
    .text-sub{
        text-align: center;
    }

    .skill-text{
        text-align: center;
        font-size: 1.2rem;
        color:rgb(252, 255, 255);
    }
    .heading{
        color: white;
    }
    .discription{
        color: black;
        font-size: 2.5rem;
        text-shadow: 2px 2px 2px black ;
    }
    .site-title-sub{
        font-size: 1.5rem;
        color: white;
        text-shadow: 5px 5px 4px black;
    }
    .site-title{
        color: white;
        font-size: 2.0rem;
        text-shadow: 5px 5px 4px black;
    }
    .site-description{
        color: white;
        text-shadow: 5px 5px 4px black;
    }
    .button{
        color: white;
        text-shadow: 5px 5px 4px black;
    }
    .skills{
        background-image: url(../image/bg.png);
        background-size: cover;

    }
    .sns{
        color: white;
    }
}